.show-pass {
  cursor: pointer;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-controls {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.1);
  width: 350px;
}
.img-control {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
}
.website-logo {
  width: 55%;
}
.input-controls {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 10px;
}
.input-controls input {
  padding: 10px 10px 10px 35px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.516);
  outline-color: rgba(0, 106, 255, 0.434);
  width: 100%;
}

.input-box {
  position: relative;
}
.password-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.input-controls label {
  font-size: 12px;
  color: rgb(47, 46, 46);
}
.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 106, 255);
  box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.1);
  color: white;
}
.forget-pass {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
}
.flex-row {
  display: flex;
  align-items: center;
}
.sing-up-text {
  font-size: 12px;
  text-align: center;
}
.error-msg {
  font-size: 12px;
  color: red;
  margin: 0px;
}
@media (max-width: 350px) {
  .form-controls {
    margin: 5px;
    width: 80%;
  }
}
